body {
    background-color: rgb(1, 132, 255)
}

header {
    border: 4px;
    border-radius: 15px;
    background-color: rgb(34, 73, 131);
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    color: white;
    font-family: -apple-system;
    text-align: center;
}

table {
    background-color: rgb(9, 172, 236);
    border-radius: 10px;
}

footer {
    background-color: rgb(26, 26, 75);
    border-radius: 15px;
    text-align: center;
}

#tablapie {
    border-radius: 5px;
    background-color: rgba(10, 117, 240, 0.753);
}